<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2018-07-16T11:44:53Z</date>
				<key>ID</key>
				<string>page1</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Blog</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/hololuxo/Desktop/site/</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-05-06T00:06:47Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/3dab9509172385fac5b539cc1a10fb3f-0.html</key>
							<dict>
								<key>Digest</key>
								<data>
								vj0JzNWTGodP
								bxTkxRd3Eg==
								</data>
								<key>Size</key>
								<integer>6685</integer>
							</dict>
							<key>files/752f82acc7eb77c807d708e2ecb0504f-1.html</key>
							<dict>
								<key>Digest</key>
								<data>
								TRPrkSho82Ak
								bcVaMfta4A==
								</data>
								<key>Size</key>
								<integer>6679</integer>
							</dict>
							<key>files/archive-july-2018.html</key>
							<dict>
								<key>Digest</key>
								<data>
								KHb1GEiH8fl6
								hCjZ5XfLjQ==
								</data>
								<key>Size</key>
								<integer>5980</integer>
							</dict>
							<key>files/feed.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								vx13I01z9y0n
								mTFPaGleyA==
								</data>
								<key>Size</key>
								<integer>2208</integer>
							</dict>
							<key>files/meta.js</key>
							<dict>
								<key>Digest</key>
								<data>
								qcyZwV8mntwW
								Dhfx2RxvLA==
								</data>
								<key>Size</key>
								<integer>1965</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								QP8LlAXo+ZdU
								L1J751se5Q==
								</data>
								<key>Size</key>
								<integer>5726</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page1</string>
						<key>SiteRoot</key>
						<string>blog</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
