<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>Minimum Application Version</key>
				<string>8.1</string>
				<key>PublishingManifests</key>
				<dict>
					<key>page0 - file:///Users/hololuxo/Desktop/site/</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-05-06T00:06:47Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								MTvCHn2slXiV
								3dW402bUQg==
								</data>
								<key>Size</key>
								<integer>5328</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page0</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page1 - file:///Users/hololuxo/Desktop/site/</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-05-06T00:06:47Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/3dab9509172385fac5b539cc1a10fb3f-0.html</key>
							<dict>
								<key>Digest</key>
								<data>
								vj0JzNWTGodP
								bxTkxRd3Eg==
								</data>
								<key>Size</key>
								<integer>6685</integer>
							</dict>
							<key>files/752f82acc7eb77c807d708e2ecb0504f-1.html</key>
							<dict>
								<key>Digest</key>
								<data>
								TRPrkSho82Ak
								bcVaMfta4A==
								</data>
								<key>Size</key>
								<integer>6679</integer>
							</dict>
							<key>files/archive-july-2018.html</key>
							<dict>
								<key>Digest</key>
								<data>
								KHb1GEiH8fl6
								hCjZ5XfLjQ==
								</data>
								<key>Size</key>
								<integer>5980</integer>
							</dict>
							<key>files/feed.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								vx13I01z9y0n
								mTFPaGleyA==
								</data>
								<key>Size</key>
								<integer>2208</integer>
							</dict>
							<key>files/meta.js</key>
							<dict>
								<key>Digest</key>
								<data>
								qcyZwV8mntwW
								Dhfx2RxvLA==
								</data>
								<key>Size</key>
								<integer>1965</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								QP8LlAXo+ZdU
								L1J751se5Q==
								</data>
								<key>Size</key>
								<integer>5726</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page1</string>
						<key>SiteRoot</key>
						<string>blog</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page2 - file:///Users/hololuxo/Desktop/site/</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-05-06T00:06:47Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/page2-1000-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								IsqG8F+9X35t
								Bgrwnd+QmQ==
								</data>
								<key>Size</key>
								<integer>901</integer>
							</dict>
							<key>files/page2-1000-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wvDswdf0DgpC
								ywJ/f82u/A==
								</data>
								<key>Size</key>
								<integer>37555</integer>
							</dict>
							<key>files/page2-1000-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JN4GVzu+tY1J
								MXEjW4w8cw==
								</data>
								<key>Size</key>
								<integer>18998</integer>
							</dict>
							<key>files/page2-1001-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								59yZqLxw+wk9
								t2CMj7dx2A==
								</data>
								<key>Size</key>
								<integer>939</integer>
							</dict>
							<key>files/page2-1001-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								SLN9+4w5RI5U
								jagdd+G2rg==
								</data>
								<key>Size</key>
								<integer>69045</integer>
							</dict>
							<key>files/page2-1001-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kYo8z0p6Tn/h
								j6wnc1ktmA==
								</data>
								<key>Size</key>
								<integer>32872</integer>
							</dict>
							<key>files/page2-1002-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								vIK7hYKqe7Cp
								CDDLX2ldBw==
								</data>
								<key>Size</key>
								<integer>947</integer>
							</dict>
							<key>files/page2-1002-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								D5iXCYOYubHJ
								zwjQjz7+qQ==
								</data>
								<key>Size</key>
								<integer>36901</integer>
							</dict>
							<key>files/page2-1002-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VSwqr34y9VxJ
								NCjxE8ULUw==
								</data>
								<key>Size</key>
								<integer>17166</integer>
							</dict>
							<key>files/page2-1003-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								+pZIArVoYFvA
								x4icctmvHw==
								</data>
								<key>Size</key>
								<integer>937</integer>
							</dict>
							<key>files/page2-1003-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								y6yad9XNLYWR
								KZoIgLzL4Q==
								</data>
								<key>Size</key>
								<integer>46134</integer>
							</dict>
							<key>files/page2-1003-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Iira1Hi1iuu1
								WsyFGXR9qg==
								</data>
								<key>Size</key>
								<integer>18865</integer>
							</dict>
							<key>files/page2-1004-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								upPEV7Z2tea7
								n95F2GKvdQ==
								</data>
								<key>Size</key>
								<integer>943</integer>
							</dict>
							<key>files/page2-1004-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								vBWI8JkOxAXd
								oCxt6vxpbA==
								</data>
								<key>Size</key>
								<integer>51022</integer>
							</dict>
							<key>files/page2-1004-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/T8cfFndCh1S
								x5jN5aEolA==
								</data>
								<key>Size</key>
								<integer>23686</integer>
							</dict>
							<key>files/page2-1005-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								pfxf3Fit+ysV
								qdCQnGjOLg==
								</data>
								<key>Size</key>
								<integer>947</integer>
							</dict>
							<key>files/page2-1005-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								iFeMDJECcKwf
								6jIUE9qRaQ==
								</data>
								<key>Size</key>
								<integer>58575</integer>
							</dict>
							<key>files/page2-1005-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Wj/adUJrF5wZ
								P819dGY2pQ==
								</data>
								<key>Size</key>
								<integer>24669</integer>
							</dict>
							<key>files/page2-1006-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								MM7679he6drU
								5sZmcIR4Vw==
								</data>
								<key>Size</key>
								<integer>961</integer>
							</dict>
							<key>files/page2-1006-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JqA0XO/w/HRx
								R+wLAdxvHg==
								</data>
								<key>Size</key>
								<integer>27159</integer>
							</dict>
							<key>files/page2-1006-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Ephy146y1WgL
								fYjUFDHq7g==
								</data>
								<key>Size</key>
								<integer>15896</integer>
							</dict>
							<key>files/page2-1007-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								63qspu9rDIPO
								TSjlVmAPfA==
								</data>
								<key>Size</key>
								<integer>907</integer>
							</dict>
							<key>files/page2-1007-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								cUCMUI9jkHAL
								VAmAXwe3GQ==
								</data>
								<key>Size</key>
								<integer>52734</integer>
							</dict>
							<key>files/page2-1007-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								nDwr987iHWBY
								d4mB/2mQJg==
								</data>
								<key>Size</key>
								<integer>22395</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								WfHS+msccidE
								IuDgNwuffQ==
								</data>
								<key>Size</key>
								<integer>6767</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page2</string>
						<key>SiteRoot</key>
						<string>photos</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:document:extrafiles - file:///Users/hololuxo/Desktop/site/</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-05-06T00:06:47Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>rw_common/images/default.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								jbsOG/bNeMj2
								PnQSaD0LQw==
								</data>
								<key>Size</key>
								<integer>110431</integer>
							</dict>
							<key>rw_common/images/future.png</key>
							<dict>
								<key>Digest</key>
								<data>
								echRgNreeMat
								VgM2J/DoVg==
								</data>
								<key>Size</key>
								<integer>6256</integer>
							</dict>
							<key>rw_common/version.txt</key>
							<dict>
								<key>Digest</key>
								<data>
								NEjuhH7OmcLM
								niWgpX/+tQ==
								</data>
								<key>Size</key>
								<integer>5</integer>
							</dict>
							<key>sitemap.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								yU+8aNwD3crf
								zQDzUdQHPg==
								</data>
								<key>Size</key>
								<integer>1218</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:document:extrafiles</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:document:resources - file:///Users/hololuxo/Desktop/site/</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-05-06T00:06:47Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>future.png</key>
							<dict>
								<key>Digest</key>
								<data>
								echRgNreeMat
								VgM2J/DoVg==
								</data>
								<key>Size</key>
								<integer>6256</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:document:resources</string>
						<key>SiteRoot</key>
						<string>resources</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:plugin:blog - file:///Users/hololuxo/Desktop/site/</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-05-06T00:06:47Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>rss.gif</key>
							<dict>
								<key>Digest</key>
								<data>
								ySu0h74kFZbd
								w1d11rHDPA==
								</data>
								<key>Size</key>
								<integer>219</integer>
							</dict>
							<key>smiley_angry.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OsvBGlBtLs1C
								xAB3/F5vkA==
								</data>
								<key>Size</key>
								<integer>1275</integer>
							</dict>
							<key>smiley_embarrassed.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Ok+zrbTJSQbz
								YHvbtXa5FQ==
								</data>
								<key>Size</key>
								<integer>1310</integer>
							</dict>
							<key>smiley_footinmouth.png</key>
							<dict>
								<key>Digest</key>
								<data>
								oNlmERQNe+Jv
								bhxYf6Q/sQ==
								</data>
								<key>Size</key>
								<integer>1254</integer>
							</dict>
							<key>smiley_gasp.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3fIF+LsL4I97
								3PnZdsHYdg==
								</data>
								<key>Size</key>
								<integer>1208</integer>
							</dict>
							<key>smiley_laugh.png</key>
							<dict>
								<key>Digest</key>
								<data>
								aiKkmJLIzkmw
								I7ENY7ns/A==
								</data>
								<key>Size</key>
								<integer>1283</integer>
							</dict>
							<key>smiley_sad.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JrI6GFcEDYoD
								NPeCi0NJDQ==
								</data>
								<key>Size</key>
								<integer>1263</integer>
							</dict>
							<key>smiley_smile.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ek1FWaeOXYzG
								u9xa5IUf6A==
								</data>
								<key>Size</key>
								<integer>1240</integer>
							</dict>
							<key>smiley_wink.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zIRR5aU+gUMZ
								uXop1aVLFA==
								</data>
								<key>Size</key>
								<integer>1236</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:plugin:blog</string>
						<key>SiteRoot</key>
						<string>rw_common/plugins/blog</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:theme:Future - file:///Users/hololuxo/Desktop/site/</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-05-06T00:06:47Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>consolidated-2.css</key>
							<dict>
								<key>Digest</key>
								<data>
								N4Ilm/4e2mTN
								fwAXym+3TA==
								</data>
								<key>Size</key>
								<integer>182004</integer>
							</dict>
							<key>consolidated.css</key>
							<dict>
								<key>Digest</key>
								<data>
								qytzEZmXGojp
								XEerkpcw4A==
								</data>
								<key>Size</key>
								<integer>181206</integer>
							</dict>
							<key>images/banners/default.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								jbsOG/bNeMj2
								PnQSaD0LQw==
								</data>
								<key>Size</key>
								<integer>110431</integer>
							</dict>
							<key>js/main.js</key>
							<dict>
								<key>Digest</key>
								<data>
								zCNJWjN975o8
								Vh1hhm8CnQ==
								</data>
								<key>Size</key>
								<integer>155733</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:Future</string>
						<key>SiteRoot</key>
						<string>rw_common/themes/Future</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>RWFileReferences</key>
				<dict>
					<key>6A6ADCFE-C3FD-4597-9C49-7567B03D34AE</key>
					<dict>
						<key>fileName</key>
						<string>future.png</string>
						<key>identifier</key>
						<string>6A6ADCFE-C3FD-4597-9C49-7567B03D34AE</string>
						<key>lastResolvablePath</key>
						<string></string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
				</dict>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hp
				dmVyVCR0b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRB
				cmNoaXZlctEICVRyb290gAGvEC8LDBUWICEiJSwzRkdI
				SU1QVjxYXGBrbG1udHd6gIGMjY6Pk5acnaipqquvsri5
				vVUkbnVsbNMNDg8QEhRXTlMua2V5c1pOUy5vYmplY3Rz
				ViRjbGFzc6ERgAKhE4ADgC5Ubm9kZdUXGBkaDxscHR4f
				VE5hbWVVaXRlbXNaaWRlbnRpZmllclhjaGlsZHJlboAF
				gAiABIAGgC1fECQ5NDhFM0M0My03MTYxLTQ4QjUtOUE1
				MC04QTkxNDVDNEI0MThfEA9VbnRpdGxlZCBGb2xkZXLS
				Dg8jJKCAB9ImJygpWiRjbGFzc25hbWVYJGNsYXNzZXNe
				TlNNdXRhYmxlQXJyYXmjKCorV05TQXJyYXlYTlNPYmpl
				Y3TSDg8tJKQuLzAxgAmAFIAdgCWAB9o0NQ82NzgXOTo7
				PD0+PT1BQkNERV5SZW1vdGVSZXNvdXJjZVtPcmlnaW5h
				bFVSTFxQdWJsaXNoZWRVUkxdUHVibGlzaGVkRGF0ZV8Q
				D0NoYW5nZWRTdGF0dXNlc1pJZGVudGlmaWVyWVRpbWVT
				dGFtcFlGaWxlVG9rZW4IgACAE4AAgACAD4ALgAqADYAM
				XxAkRUMyMDBBMkUtQkZCQi00QTg0LTlEQ0QtRjc3OEM5
				QjdBOUQwWmZ1dHVyZS5wbmdfECQ2QTZBRENGRS1DM0ZE
				LTQ1OTctOUM0OS03NTY3QjAzRDM0QUXSSg9LTFdOUy50
				aW1lI0HF9CtMTJZfgA7SJidOT1ZOU0RhdGWiTivTDQ4P
				UVNVoVKAEKFUgBGAEl8QJGZpbGU6Ly8vVXNlcnMvaG9s
				b2x1eG8vRGVza3RvcC9zaXRlLwjSJidZWl8QE05TTXV0
				YWJsZURpY3Rpb25hcnmjWVsrXE5TRGljdGlvbmFyedIm
				J11eXlJXU2l0ZVJlc291cmNlol8rXlJXU2l0ZVJlc291
				cmNl2jQ1DzY3OBc5OjthPT5kPWZnaGlqCYAAgBOAGIAA
				gBuAFoAVgBqAF18QJDkwRjU1NTJELUM2RDEtNEVENC1B
				QjI5LUZBQjIyRUVEMDFERF8QJHBob3RvLTE1Mjg2NDA0
				NTQyNDctYTA1NzJkZjhjMGY0LmpwZ18Qvmh0dHBzOi8v
				aW1hZ2VzLnVuc3BsYXNoLmNvbS9waG90by0xNTI4NjQw
				NDU0MjQ3LWEwNTcyZGY4YzBmND9peGxpYj1yYi0wLjMu
				NSZxPTgwJmZtPWpwZyZjcm9wPWVudHJvcHkmY3M9dGlu
				eXNyZ2Imdz0xMDgwJmZpdD1tYXgmaXhpZD1leUpoY0hC
				ZmFXUWlPakV6TWpRNWZRJnM9NjMxYTJmNjc0ODE5Yzk4
				OTBmMzA3YjRlZjM0ZTkyMjnTbw9wPXJqV05TLmJhc2Vb
				TlMucmVsYXRpdmWAAIAZgBfSJid1dlVOU1VSTKJ1K9JK
				D3hMI0HF9CtMTJbVgA7TDQ4Pe31VoXyAHKFUgBGAEl8Q
				JGZpbGU6Ly8vVXNlcnMvaG9sb2x1eG8vRGVza3RvcC9z
				aXRlL9o0NQ82NzgXOTo7YT0+hT2HiImKiwmAAIATgCGA
				AIAjgB+AHoAigCBfECRGMjBCNkM2My00RjBELTQ4MzYt
				OTE4MC1CRDVFN0JFNTJGNjlfECRwaG90by0xNTA5NjM1
				MjE0Njg5LTk4ZWYzMWVjN2U4Mi5qcGdfEL5odHRwczov
				L2ltYWdlcy51bnNwbGFzaC5jb20vcGhvdG8tMTUwOTYz
				NTIxNDY4OS05OGVmMzFlYzdlODI/aXhsaWI9cmItMC4z
				LjUmcT04MCZmbT1qcGcmY3JvcD1lbnRyb3B5JmNzPXRp
				bnlzcmdiJnc9MTA4MCZmaXQ9bWF4Jml4aWQ9ZXlKaGNI
				QmZhV1FpT2pFek1qUTVmUSZzPWNhYWE1YjExNjg2MTc4
				NGYyZGNhY2QxNWRkN2YyZGFh028PcD1yi4AAgBmAINJK
				D5RMI0HF9CtMTJb/gA7TDQ4Pl5lVoZiAJKFUgBGAEl8Q
				JGZpbGU6Ly8vVXNlcnMvaG9sb2x1eG8vRGVza3RvcC9z
				aXRlL9o0NQ82NzgXOTo7YT0+oT2jpKWmpwmAAIATgCmA
				AIArgCeAJoAqgChfECQwMzJFQTkzQS1CRkJCLTQwNTYt
				QkRGOC01RDk0QkYxNTZFMDRfECRwaG90by0xNTMwNjky
				MjI4MjY1LTA4NGIyMTU2NmIxMi5qcGdfEL5odHRwczov
				L2ltYWdlcy51bnNwbGFzaC5jb20vcGhvdG8tMTUzMDY5
				MjIyODI2NS0wODRiMjE1NjZiMTI/aXhsaWI9cmItMC4z
				LjUmcT04MCZmbT1qcGcmY3JvcD1lbnRyb3B5JmNzPXRp
				bnlzcmdiJnc9MTA4MCZmaXQ9bWF4Jml4aWQ9ZXlKaGNI
				QmZhV1FpT2pFek1qUTVmUSZzPWY4MmY4MmZkMTZlYmJl
				ZGMxNWFmMWI3OGZiY2Q5Zjhj028PcD1yp4AAgBmAKNJK
				D7BMI0HF9CtMTJcxgA7TDQ4Ps7VVobSALKFUgBGAEl8Q
				JGZpbGU6Ly8vVXNlcnMvaG9sb2x1eG8vRGVza3RvcC9z
				aXRlL9ImJ7q7XFJXU2l0ZUZvbGRlcqK8K1xSV1NpdGVG
				b2xkZXLSJidbvqJbKwAIABEAGgAkACkAMgA3AEkATABR
				AFMAhQCLAJIAmgClAKwArgCwALIAtAC2ALsAxgDLANEA
				3ADlAOcA6QDrAO0A7wEWASgBLQEuATABNQFAAUkBWAFc
				AWQBbQFyAXcBeQF7AX0BfwGBAZYBpQGxAb4BzAHeAekB
				8wH9Af4CAAICAgQCBgIIAgoCDAIOAhACNwJCAmkCbgJ2
				An8CgQKGAo0CkAKXApkCmwKdAp8CoQLIAskCzgLkAugC
				9QL6AwkDDAMbAzADMQMzAzUDNwM5AzsDPQM/A0EDQwNq
				A5EEUgRZBGEEbQRvBHEEcwR4BH4EgQSGBI8EkQSYBJoE
				nASeBKAEogTJBN4E3wThBOME5QTnBOkE6wTtBO8E8QUY
				BT8GAAYHBgkGCwYNBhIGGwYdBiQGJgYoBioGLAYuBlUG
				agZrBm0GbwZxBnMGdQZ3BnkGewZ9BqQGyweMB5MHlQeX
				B5kHngenB6kHsAeyB7QHtge4B7oH4QfmB/MH9ggDCAgA
				AAAAAAACAQAAAAAAAAC/AAAAAAAAAAAAAAAAAAAICw==
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>AnonymiseThirdPartyRequests</key>
					<false/>
					<key>BaseURL</key>
					<string>https://www.thevideocraft.com/</string>
					<key>ConsolidateCSSFiles</key>
					<true/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Us</string>
					<key>CopyrightText</key>
					<string>© 2018 Realmac Software</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.php</string>
						<string>index.html</string>
					</array>
					<key>EmailAddress</key>
					<string>support@realmacsoftware.com</string>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PrivacyMessage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25Z
					JGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGG
					oF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290
					gAChC1UkbnVsbAgRGiQpMjdJTFFTVQAAAAAA
					AAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
					</data>
					<key>PrivacyMessageDismissButtonTitle</key>
					<string>Dismiss</string>
					<key>PublishingDestinations</key>
					<array>
						<dict>
							<key>anonymous</key>
							<false/>
							<key>automaticallyConfigured</key>
							<false/>
							<key>backupFrequency</key>
							<integer>0</integer>
							<key>connectionMode</key>
							<integer>0</integer>
							<key>enablePublicKeyAuthentication</key>
							<false/>
							<key>fileSystemPathBookmark</key>
							<data>
							Ym9va7ACAAAAAAQQMAAA
							AGhTc1zbe21kSoOt8cZr
							p7ZMsCHttGhUcFYUI8fG
							h1ehrAEAAAQAAAADAwAA
							AAgAKAUAAAABAQAAVXNl
							cnMAAAAIAAAAAQEAAGhv
							bG9sdXhvBwAAAAEBAABE
							ZXNrdG9wAAQAAAABAQAA
							c2l0ZRAAAAABBgAAEAAA
							ACAAAAAwAAAAQAAAAAgA
							AAAEAwAAV1MAAAAAAAAI
							AAAABAMAALp7BQAAAAAA
							CAAAAAQDAAD4VoADAAAA
							AAgAAAAEAwAAITkfBQAA
							AAAQAAAAAQYAAGQAAAB0
							AAAAhAAAAJQAAAAIAAAA
							AAQAAEHF9CsPHeqFGAAA
							AAECAAACAAAAAAAAAA8A
							AAAAAAAAAAAAAAAAAAAI
							AAAABAMAAAIAAAAAAAAA
							BAAAAAMDAAD1AQAACAAA
							AAEJAABmaWxlOi8vLwwA
							AAABAQAATWFjaW50b3No
							IEhECAAAAAQDAAAAoC9f
							OwAAAAgAAAAABAAAQcXW
							A8GAAAAkAAAAAQEAADU3
							NEY1M0E1LTRBQkEtNEU1
							MC1CNDY2LUEzOUZERUVG
							OTY0QRgAAAABAgAAgQAA
							AAEAAADvEwAAAQAAAAAA
							AAAAAAAAAQAAAAEBAAAv
							AAAAAAAAAAEFAADMAAAA
							/v///wEAAAAAAAAAEAAA
							AAQQAABMAAAAAAAAAAUQ
							AACkAAAAAAAAABAQAADM
							AAAAAAAAAEAQAAC8AAAA
							AAAAAAIgAACYAQAAAAAA
							AAUgAAAIAQAAAAAAABAg
							AAAYAQAAAAAAABEgAABM
							AQAAAAAAABIgAAAsAQAA
							AAAAABMgAAA8AQAAAAAA
							ACAgAAB4AQAAAAAAADAg
							AACkAQAAAAAAAAHAAADs
							AAAAAAAAABHAAAAgAAAA
							AAAAABLAAAD8AAAAAAAA
							ABDQAAAEAAAAAAAAAA==
							</data>
							<key>hasPublishedContent</key>
							<true/>
							<key>ignoreCertificateErrors</key>
							<false/>
							<key>label</key>
							<string>Untitled Destination</string>
							<key>maxConnections</key>
							<integer>6</integer>
							<key>path</key>
							<string></string>
							<key>server</key>
							<string></string>
							<key>serverConfigurationVersions</key>
							<array/>
							<key>type</key>
							<integer>0</integer>
							<key>useSSLOption</key>
							<integer>2</integer>
							<key>user</key>
							<string></string>
							<key>websiteAddress</key>
							<string>http://thevideocraft.com/</string>
						</dict>
					</array>
					<key>PublishingSettingsConfigured</key>
					<true/>
					<key>RWBadge</key>
					<string>{"transition":"slide","url":"https:\/\/www.thevideocraft.com","hiddenOnDesktop":false,"imageAlt":"RapidWeaver Icon","text":"Made in RapidWeaver","colorScheme":"auto","position":"bottomLeft","delayType":"time","delayMillis":1000,"hiddenOnTablet":false,"useDefaultImage":true,"openInNewWindow":true,"delayDistance":30,"enabled":true,"hiddenOnMobile":false}</string>
					<key>RememberPrivacyMessageDismissed</key>
					<false/>
					<key>SelectedPublishingDestinationIndex</key>
					<integer>0</integer>
					<key>SettingsPlugins</key>
					<array/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowPrivacyMessage</key>
					<false/>
					<key>SiteLogoIdentifier</key>
					<string>EC200A2E-BFBB-4A84-9DCD-F778C9B7A9D0</string>
					<key>SloganText</key>
					<string>Say hello to the Future</string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string>Future</string>
					<key>TitleText</key>
					<string>Welcome</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UniqueBackupName</key>
					<string>FDD2FFF2-D307-4588-A8D7-466E9B393B15_rwbackup</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>autoStartWebServer</key>
					<false/>
					<key>globalBody</key>
					<string></string>
					<key>globalBodyStart</key>
					<string></string>
					<key>globalCSS</key>
					<string></string>
					<key>globalHeader</key>
					<string></string>
					<key>globalJavascript</key>
					<string></string>
					<key>globalPrefix</key>
					<string></string>
					<key>hasChangedGlobalBody</key>
					<true/>
					<key>hasChangedGlobalBodyStart</key>
					<true/>
					<key>hasChangedGlobalCSS</key>
					<false/>
					<key>hasChangedGlobalHeader</key>
					<true/>
					<key>hasChangedGlobalJavascript</key>
					<false/>
					<key>hasChangedGlobalPrefix</key>
					<true/>
					<key>iconPackage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25Z
					JGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGG
					oF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290
					gAChC1UkbnVsbAgRGiQpMjdJTFFTVQAAAAAA
					AAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
					</data>
					<key>minifyExtraFiles</key>
					<true/>
					<key>useCacheBusting</key>
					<true/>
					<key>useDocumentPortability</key>
					<true/>
					<key>useSocialTags</key>
					<false/>
					<key>webServerPHPVersion</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
				<string>Resources</string>
				<string>SharedPluginData</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
